
<div class="col-xs-12 categoryPage">
                <div class="hidden-sm hidden-xs col-md-2 well categoryNav">
                    
                    <div class="text-center" id="navCategories">
                        <p>Newest Post</p>
                        <input type="search" class="form-control text-center" placeholder="search" />
                    </div>
                    <div class="text-left" id="navList">
                        <dl>
                            <dt>HTML / CSS</dt>
                            <dd id="navIntro">Introduction</dd>
                            <dd>jQuery Animate: Opacity</dd>
                            <dd>jQuery: document ready</dd>
                            <dd>creating an array</dd>
                            <dd>applying css values</dd>
                        </dl>
                    </div>
                </div> <!-- end article nav -->
                <div class="col-xs-12 col-md-10 categoryContent">
                    <div class="col-xs-12 col-md-12 categoryContentHeading text-center">
                        <h2>HTML/CSS <br> <small>Standard syntax and Bootstrap</small></h2>
                        <p class="categoryUpdated">Last updated: May 19, 2016</p> <!-- add published time somewhere -->
                        
                        <div class="col-xs-8 col-xs-offset-2 categorySummary">
                            <p>This will be the summary section of the article, there will be a link to it in the navagation and will be displayed at the top of the page along with the title. Something that needs to be worked in is the comment section for the inline comments.</p>
                        </div>
                    </div> <!-- end article heading -->
                    
                    <div class="col-xs-12 col-md-12 article">
                    <div class="col-xs-6 col-md-6 articleText">
                         
                        
                        <h4 class="articleHeader col-xs-6">Form Group <br> <small>with NG-Model</small></h4>
                        <p class="createdOn col-xs-6 text-right" >Created: <span>May 19, 2016</span></p>
                        
                        
                        <p class="articleText col-xs-12">A basic example of a form input. This example takes advantage of Bootstrap's styling using "form-group" and "form-control". The example also uses Angular's "ng-model" to create a user model within the scope.   </p>
                        
                        <table class="table table-striped table-bordered articleTable col-xs-12 col-md-6">
                            <thead>
                                <tr>
                                    <th>Framework</th>
                                    <th>Directive</th>
                                    <th>Use</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Bootstrap</td>
                                    <td>form-group</td>
                                    <td>associates the elements with the group</td>
                                </tr>
                                <tr>
                                    <td>Bootstrap</td>
                                    <td>form-control</td>
                                    <td>controls the styling of the input section</td>
                                </tr>
                                <tr>
                                    <td>Angular JS</td>
                                    <td>ng-model</td>
                                    <td>creates/ applies changes to the model within the scope</td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <div class="col-xs-12">
                            <div class="col-xs-6 text-left articleLinks">
                                <ul class="list-inline">
                                    <li><p><i class="fa fa-codepen" aria-hidden="true"></i></p></li>
                                    <li><p>Bootstrap</p></li>
                                    <li><p>AngularJS</p></li>
                                    <li><p>MDN reference</p></li>
                                </ul>
                            </div>
                            <div class="col-xs-6 text-right">
                                <ul class="list-inline">
                                    <li><p class="bookmarkIcon"><i class="fa fa-bookmark-o" aria-hidden="true"> 2</i></p></li>
                                    <li><p class="commentIcon"><i class="fa fa-comment-o" aria-hidden="true"> 2</i></p></li>
                                </ul>
                            </div>
                        </div>
                    </div> <!-- end article Text -->
                    <pre class="col-xs-6 col-md-6 well articleCode">
                          <h5 class="codeHeading">example code</h5>
                          <code>&lang;div class="form-gorup"&rang; 
                             &nbsp; &lang;label for="name"&rang; Name: &lang;/label&rang;
                             &nbsp; &lang; input type="text" name="name" ng-model= "user.name" class="form-control" ng-required="true" / &rang; <br> &lang; /div &rang;</code>
                            
                        </pre>
                    </div>
                    
                    <div class="col-xs-12 col-md-12 article">
                    <div class="col-xs-6 col-md-6 articleText">
                         
                        
                        <h4 class="articleHeader col-xs-6">Form Group <br> <small>with NG-Model</small></h4>
                        <p class="createdOn col-xs-6 text-right" >Created: <span>May 19, 2016</span></p>
                        
                        
                        <p class="articleText col-xs-12">A basic example of a form input. This example takes advantage of Bootstrap's styling using "form-group" and "form-control". The example also uses Angular's "ng-model" to create a user model within the scope.   </p>
                        
                        <table class="table table-striped table-bordered articleTable col-xs-12 col-md-6">
                            <thead>
                                <tr>
                                    <th>Framework</th>
                                    <th>Directive</th>
                                    <th>Use</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Bootstrap</td>
                                    <td>form-group</td>
                                    <td>associates the elements with the group</td>
                                </tr>
                                <tr>
                                    <td>Bootstrap</td>
                                    <td>form-control</td>
                                    <td>controls the styling of the input section</td>
                                </tr>
                                <tr>
                                    <td>Angular JS</td>
                                    <td>ng-model</td>
                                    <td>creates/ applies changes to the model within the scope</td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <div class="col-xs-12">
                            <div class="col-xs-6 text-left articleLinks">
                                <ul class="list-inline">
                                    <li><p><i class="fa fa-codepen" aria-hidden="true"></i></p></li>
                                    <li><p>Bootstrap</p></li>
                                    <li><p>AngularJS</p></li>
                                    <li><p>MDN reference</p></li>
                                </ul>
                            </div>
                            <div class="col-xs-6 text-right">
                                <ul class="list-inline">
                                    <li><p class="bookmarkIcon"><i class="fa fa-bookmark-o" aria-hidden="true"> 2</i></p></li>
                                    <li><p class="commentIcon"><i class="fa fa-comment-o" aria-hidden="true"> 2</i></p></li>
                                </ul>
                            </div>
                        </div>
                    </div> <!-- end article Text -->
                    <pre class="col-xs-6 col-md-6 well articleCode">
                          <h5 class="codeHeading">example code</h5>
                          <code>&lang;div class="form-gorup"&rang; 
                             &nbsp; &lang;label for="name"&rang; Name: &lang;/label&rang;
                             &nbsp; &lang; input type="text" name="name" ng-model= "user.name" class="form-control" ng-required="true" / &rang; <br> &lang; /div &rang;</code>
                            
                        </pre>
                    </div>
                </div> <!-- end article content -->
            </div>